[build]
publish = "public"
command = "hugo --gc --minify"

[build.environment]
  HUGO_VERSION = "0.148.0"
  HUGO_ENV = "production"
  TZ = "Europe/Paris"

[context.deploy-preview]
    command = "hugo --baseURL $DEPLOY_URL"

[context.branch-deploy]
    command = "hugo --baseURL $DEPLOY_URL"