p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.p-padding p {
  margin-bottom: 1rem;
}

.bg-default-gradient {
  background: rgb(229, 0, 118);
  background: linear-gradient(
    0deg,
    rgba(229, 0, 118, 1) 0%,
    rgba(0, 74, 173, 1) 100%
  );
  color: white;
}

.bg-default-gradient h1 {
  color: white;
}

.move-top-100 {
  -webkit-transform: translateY(-100px);
  transform: translateY(-100px);
  margin-bottom: -100px;
}

.fitness-bg {
  background-color: rgba(0, 83, 126, 1);
  color: white;
}

.gradient-bg {
  background: rgb(229, 0, 118);
  background: linear-gradient(
    0deg,
    rgba(229, 0, 118, 1) 0%,
    rgba(0, 74, 173, 1) 100%
  );
  color: white;
}

.fitness-bg h3 {
  color: white;
}

.makeup-bg {
  background-color: rgb(229, 0, 118);
  color: white;
}

.makeup-bg h3 {
  color: white;
}

.index-images {
  overflow: hidden;
  position: relative;
  display: inline-block;
  padding-top: 1rem;
  padding-right: 1rem;
}

.index-images img {
  border-top-right-radius: 25%;
}

.index-images h5 {
  border-top-right-radius: 25%;
}

.index-images-link:hover .index-images {
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.3);
}

.index-images .content {
  bottom: 0;
  left: 0;
  padding: 1rem;
  position: absolute;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  width: 100%;
}

.index-images .content .title {
  line-height: 1.8rem;
  font-size: 1.3rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.navbar .nav-toggle-btn .lines,
.navbar .nav-toggle-btn .lines::before,
.navbar .nav-toggle-btn .lines::after {
  background-color: white;
}

.navbar .nav.nav-show {
  background-color: rgb(229, 0, 118);
}

.navbar {
  background-color: rgb(229, 0, 118);
}

.navbar .nav .nav-item .nav-link {
  color: white;
  font-weight: bold;
}

.navbar .navbar-brand img {
  width: auto;
  height: 60px;
  max-height: 60px;
}

.impressum p {
  margin: 0 0 12px;
}

.social-links {
  position: fixed;
  top: calc(50% - 150px);
  right: 0;
  padding: 15px 10px 15px 15px;
  font-size: 1.5rem;
  color: white;
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.12);
  border-radius: 10px 0 0 10px;
  border: 2px solid white;
}

.social-links.makeup {
  background-color: rgb(229, 0, 118);
}

.social-links a {
  color: white;
}

.social-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 620px) {
  .social-links {
    display: none;
  }
}

select {
  color: #7c7c7c;
}

select {
  background: transparent;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.15);
  margin-bottom: 1rem;
  padding: 15px 20px;
  box-shadow: none;
  font: 300 16px "Open Sans", sans-serif;
  -webkit-transition: ease-out 0.2s;
  transition: ease-out 0.2s;
}

.good-input {
  display: none;
}

@media (max-width: 620px) {
  .no-padding-sm {
    padding: 0;
  }
}

.blue-link {
  color: white;
}

.blue-link:hover {
  text-decoration: underline;
  color: rgb(229, 0, 118);
}
