.p-padding p {
    margin-bottom: 1rem;
}

.bg-default-gradient {
    background: rgb(230,0,126);
    background: linear-gradient(0deg, rgba(230,0,126,1) 0%, rgba(0,93,137,1) 100%);
    color:white;
}

.bg-default-gradient h1 {
    color:white;
}

.move-top-100 {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    margin-bottom: -100px;
}