<!DOCTYPE html>
<html lang="de">
    {{ partial "head.html" . }}
	<body>
        {{ partial "header.html" . }}
        
		<!-- Scroll to top button -->
		<div class="scrolltotop">
			<a class="button-circle button-circle-sm button-circle-dark" href="#"><i class="ti-arrow-up"></i></a>
		</div>
        <!-- end Scroll to top button -->
        
        {{- block "main" . }}{{- end }}

        {{ if eq .Section "fitness" }}
        <div class="social-links gradient-bg">
            <ul>
                <li><a href="https://www.instagram.com/feelgood_tamara/" target="_blank" title="Instagram"><i class="fab fa-instagram" aria-label="Insagram Icon"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UCL77j3R6NB3UWLmDX-4txhQ" target="_blank" title="Youtube"><i class="fab fa-youtube" aria-label="Youtube Icon"></i></a></li>
                <li><a href="https://open.spotify.com/user/gvy0oqkkjdguxxsbu56zjcscp?si=wrHogFZ2Q1OT2WbsKXqrmA" target="_blank" title="Spotify"><i class="fab fa-spotify" aria-label="Spotify Icon"></i></a></li>
            </ul>
        </div>
        {{ end }}
        {{ if eq .Section "makeup" }}
        <div class="social-links makeup-bg">
            <ul>
                <li><a href="https://www.instagram.com/feelgood_tamara/" target="_blank" title="Instagram"><i class="fab fa-instagram" aria-label="Insagram Icon"></i></a></li>
                <li><a href="https://open.spotify.com/user/gvy0oqkkjdguxxsbu56zjcscp?si=wrHogFZ2Q1OT2WbsKXqrmA" target="_blank" title="Spotify"><i class="fab fa-spotify" aria-label="Spotify Icon"></i></a></li>
            </ul>
        </div>
        {{ end }}

        {{ partial "footer.html" . }}

        {{ partial "scripts.html" . }}
	</body>
</html> 