{{ define "main" }}

<div class="section-2xl bg-image" data-bg-src="{{ .Site.BaseURL }}/images/TitelbildMU_small.jpg" style="background-image: url(&quot;{{ .Site.BaseURL }}/images/TitelbildMU_small.jpg&quot;); background-size: cover; background-repeat: no-repeat; background-position: center center;">
    <div class="container">
    </div><!-- end container -->
</div>

<div class="section" id="services">
    <div class="container">
        <div class="margin-bottom-70">
            <div class="row">
                <div class="col-12 col-md-10 col-lg-8 col-xl-7">
                    <h2 class="margin-0" style="text-transform: uppercase">{{ .Site.Data.makeup.title.Title }}</h2>
                    <p>{{ .Site.Data.makeup.title.Text }}</p>
                </div>
            </div><!-- end row -->
        </div>
        <div class="row col-spacing-20">
            <div class="col-12 col-lg-4">
                <div class="index-images">
                    <img src="{{ .Site.BaseURL }}{{ .Site.Data.makeup.services.types.Image1 }}" alt="{{ .Site.Data.makeup.services.types.Title1 }}">
                    <div class="content">
                        <h5>{{ .Site.Data.makeup.services.types.Title1 }}</h5>
                        <p>{{ .Site.Data.makeup.services.types.Text1 }}</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="index-images">
                    <img src="{{ .Site.BaseURL }}{{ .Site.Data.makeup.services.types.Image2 }}" alt="{{ .Site.Data.makeup.services.types.Title2 }}">
                    <div class="content">
                        <h5>{{ .Site.Data.makeup.services.types.Title2 }}</h5>
                        <p>{{ .Site.Data.makeup.services.types.Text2 }}</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="index-images">
                    <img src="{{ .Site.BaseURL }}{{ .Site.Data.makeup.services.types.Image3 }}" alt="{{ .Site.Data.makeup.services.types.Title3 }}">
                    <div class="content">
                        <h5>{{ .Site.Data.makeup.services.types.Title3 }}</h5>
                        <p>{{ .Site.Data.makeup.services.types.Text3 }}</p>
                    </div>
                </div>
            </div>
        </div><!-- end row -->       
    </div>

    <div class="padding-top-0 margin-top-70">
        <div class="container">
            <div class="row col-spacing-60 align-items-center">
                <div class="col-12">
                    <ul class="accordion single-open rounded">
                        {{ range $index, $element := $.Site.Data.makeup.services.questions }}
                        {{ if (eq $index 0) }}
                        <li class="active">
                            <div class="accordion-title">
                                <h6 class="font-weight-normal">{{ $element.Question }}</h6>
                            </div>
                            <div class="accordion-content">
                                <p>{{ $element.Answer }}</p>
                            </div>
                        </li>
                        {{ else }}
                        <li>
                            <div class="accordion-title">
                                <h6 class="font-weight-normal">{{ $element.Question }}</h6>
                            </div>
                            <div class="accordion-content">
                                <p>{{ $element.Answer }}</p>
                            </div>
                        </li>
                        {{ end }}
                        {{ end }}
                    </ul>
                </div>
            </div><!-- end row -->
        </div><!-- end container -->
    </div>
</div>

<div class="section-xl bg-primary-custom">
    <div class="container text-center">
        <div class="row">
            <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                <h3 class="margin-bottom-20">{{ .Site.Data.makeup.services.getInTouch.Title }}</h3>
                <p class="font-large">{{ .Site.Data.makeup.services.getInTouch.Text }}</p>
                <a class="button button-lg button-radius button-outline-white margin-top-30" href="mailto:info@tamara-feelgood.at">{{ .Site.Data.makeup.services.getInTouch.ButtonText }}</a>
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</div>

<div class="section bg-grey" id="portfolio">
    <div class="container">
        <div class="margin-bottom-70">
            <div class="row">
                <div class="col-12 col-md-10 col-lg-8 col-xl-7">
                    <h2 class="margin-0" style="text-transform: uppercase">{{ .Site.Data.makeup.portfolio.title.Title }}</h2>
                </div>
            </div><!-- end row -->
        </div>
        <!-- end Portfolio filter -->
        <div class="row portfolio-wrapper spacing-10 hover-style-5">
            <!-- Portfolio box 1 -->
            {{ range shuffle ( where .Pages "Type" "portfolio" ) }}
            {{ if .Params.showInIndex }}
            <div class="col-12 col-md-6 col-lg-4 portfolio-item {{ .Params.category }}">
                <div class="portfolio-box">
                    <div class="portfolio-img">
                        <img src="{{ .Site.BaseURL }}/{{ .Params.image }}_Title.jpg" alt="{{ .Title }}">
                    </div>
                    <a href="{{ .Site.BaseURL }}/{{ .Params.image }}.jpg"></a><!-- Portfolio Single link -->
                    <div class="portfolio-title">
                        <div>
                            <h5 class="font-weight-normal margin-0">{{ .Title }}</h5>
                            <span class="font-small">{{ .Params.subtitle }}</span>
                        </div>
                    </div>
                </div>
            </div>
            {{ end }}
            {{ end }}  
        </div><!-- end portfolio-wrapper-->
        <!-- button -->
        <div class="margin-top-60 text-right">
            <a class="button button-lg button-radius button-reveal-right-outline-grey" href="{{ .Site.BaseURL }}/makeup/portfolio">
                <i class="ti-arrow-right"></i><span>{{ .Site.Data.makeup.portfolio.title.Link }}</span>
            </a>
        </div>
    </div><!-- end container -->
</div>

<div class="section border-bottom" id="about-me">
    <div class="container">
        <!-- <div class="section-title text-center">
            <h2>We Develop Digital Products</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Integer tincidunt.</p>
        </div> -->
        <div class="row align-items-center col-spacing-50">
            <div class="col-12 col-lg-4">
                <img src="{{ .Site.BaseURL }}/images/about_me_mu.jpg" alt="Tamara Dos Santos Goes Portrait"><!-- Image source -->
            </div>
            <div class="col-12 col-lg-8 p-padding">
                {{ template "makeup/_internal/about-me.html" . }}
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</div>
{{ end }}