{{ define "main" }}
<div class="section-lg">
	<div class="bg-white-08">
		<div class="container">
			<div class="margin-bottom-70">
				<div class="row text-center">
					<div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
						<h2 class="font-weight-light">{{ .Page.Title }}</h2>
						<div class="divider-width-50px">
							<hr class="bg-black-05">
						</div>
					</div>
				</div>
			</div>
			<div class="single-page">
                <div class="filter filter-style-4">
                    <ul>
                        <li class="active" data-filter="*">Alle</li>
                        <li data-filter=".Beauty-Brides">Beauty & Brides</li>
                        <li data-filter=".Commercial">Commercial</li>
                        <li data-filter=".Editorial">Editorial & more</li>
                    </ul>
                </div>
                <!-- end Portfolio filter -->
                <div class="row portfolio-wrapper spacing-10 hover-style-5">
                    <!-- Portfolio box 1 -->
                    {{ range (.Pages) }}
                    <div class="col-12 col-md-6 col-lg-4 portfolio-item {{ .Params.category }}">
                        <div class="portfolio-box">
                            <div class="portfolio-img">
                                <img src="{{ .Site.BaseURL }}/{{ .Params.image }}_Title.jpg" alt="{{ .Title }}">
                            </div>
                            <a href="{{ .Site.BaseURL }}/{{ .Params.image }}.jpg"></a><!-- Portfolio Single link -->
                            <div class="portfolio-title">
                                <div>
                                    <h5 class="font-weight-normal margin-0">{{ .Title }}</h5>
                                    <span class="font-small">{{ .Params.subtitle }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ end }}  
                </div><!-- end portfolio-wrapper-->
                        <!-- button -->
                <div class="margin-top-60">
                    <a class="button button-lg button-radius button-reveal-left-outline-grey" href="{{ .Site.BaseURL }}/makeup">
                        <i class="ti-arrow-left"></i><span>BACK TO HOME</span>
                    </a>
                </div>
			</div>
		</div><!-- end container -->
	</div>
</div>
{{ end }}