{{ define "main" }}
<div class="section-lg">
	<div class="bg-white-08">
		<div class="container">
			<div class="margin-bottom-70">
				<div class="row text-center">
					<div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
						<h2 class="font-weight-light">{{ .Page.Title }}</h2>
						<div class="divider-width-50px">
							<hr class="bg-black-05">
						</div>
						{{ if .Page.Params.subtitle }}
						<p>{{ .Page.Params.subtitle }}</p>
						{{ end }}
					</div>
				</div>
			</div>
			<div class="single-page">
                {{ .Content }}
			</div>
		</div><!-- end container -->
	</div>
</div>
{{ end }}