<h3>About me</h3>
<p>
    Mein Name ist Tamara und ich wohne seit über 6 Jahren in Wien. Ich komme aus einer sportlichen Familie (OÖ),
    wobei meine sportlichen Wurzeln im Skirennsport liegen. Auch Tanzen hat mich schon immer begeistert und
    Training im Fitnessstudio war/ist mir einfach lustig.
</p>
<p>
    Meine Erfahrungen als Coach im Sport ziehen sich bereits über 15 Jahre. Ich bin ausgebildete Fitness- und
    Personal Trainerin, Skilehrerin und habe mir unterschiedliche Lizenzen im Gruppenfitnessbereich  (z.B. Zumba) 
    angeeignet. Zusätzlich verfüge ich über profunde Kenntnisse zu einer gesunden Lebensführung (u.a. Ernährungsberatung).
    Ich bin sehr stolz auf meine Sprachkenntnisse und stehe dir auf Deutsch, Englisch, Spanisch oder Portugiesisch zur Verfügung. 
</p>
<p>
    Mein großes Ziel ist es zu vermitteln, dass Sport mehr als Abnehmen, Muckis oder Wettkampf sein kann! 
    Der langfristige Gesundheitsgedanke ist mir wichtig, während ich mich dabei auf Bewegungsanfänger*innen und
    Fortgeschrittene konzentriere. Ich möchte meine #feelgood Community dabei unterstützen, einen verbesserten Zugang 
    zu ihrem Körper zu finden. Denn: gute Body-Mind-Balance = mehr Selbstliebe! Werde auch du Teil meiner Community.
    Ich würde mich sehr freuen.
</p>