<h3>About me</h3>
<p>
    Hallo, mein Name ist Tamara! Ich komme aus einer sportlichen Familie (OÖ), wobei meine Wurzeln im Skirennsport liegen.
    Auch Tanzen hat mich schon immer begeistert und Training im Fitnessstudio war/ist mir einfach lustig.
    Berufliche Erfahrungen habe ich mittlerweile auf 2 Kontinenten und in mehr als 8 Städten gesammelt.
</p>
<p>
    Meine Begeisterung als Coach im Sport zieht sich bereits über 15 Jahre. Ich bin ausgebildete Fitness- und Personal
    Trainerin, Skilehrerin und habe mir unterschiedliche Lizenzen im Gruppenfitnessbereich (Zumba, deepWORK, Pilates,
    Mobility,...) angeeignet. Zusätzlich verfüge ich über profunde Kenntnisse zu einer gesunden Lebensführung 
    (u.a. Ernährungsberatung) und das Thema Selbstliebe ist mir in den letzten Jahren immens ans Herz gewachsen. 
    Ich bin sehr stolz auf meine Sprachkenntnisse und stehe dir auf Deutsch, Englisch, Spanisch oder Portugiesisch
    zur Verfügung. 
</p>
<p>
    Mein großes Ziel ist es, dir zu zeigen, dass Sport mehr ist als es uns die Gesellschaft oft vermitteln will.
    Dabei ist auch der langfristige Gesundheitsgedanke ein großes Thema. Ich möchte meine #feelgood Community dabei 
    unterstützen, einen guten, liebevollen Zugang zu ihrem Körper zu finden. Denn: Body-Mind-Balance = mehr Selbstliebe! 
    Werde auch du Teil meiner Community. Ich würde mich sehr freuen.
</p>