<h3>About me</h3>
<p>
    Mein Name ist Tamara und wohne seit über 6 Jahren in Wien. Ich komme aus einer sportlichen Familie (OÖ),
    wobei meine sportlichen Wurzeln im Skirennlauf liegen. Tanzen hat mich auch schon immer begeistert und
    Training im Fitnessstudio war/ist mir einfach lustig.
</p>
<p>
    Meine Erfahrungen als Coach im Sport ziehen sich bereits über 15 Jahre. Ich bin ausgebildete Fitness- und
    Personal Trainerin. Außerdem bin ich Skilehrerin und habe mir unterschiedliche Lizenzen im Gruppenfitnessbereich
    angeeignet. Zusätzlich verfüge ich über profunde Kenntnisse zu einer gesunden Lebensführung (u.a. Ernährungsberatung).
    Ich bin sehr stolz auf meine Sprachkenntnisse und stehe dir auf Deutsch, Englisch, Spanisch oder Portugiesisch zur Verfügung. 
</p>
<p>
    Ich möchte vermitteln, dass Sport mehr als Abnehmen, Muckis oder Wettkampf sein kann! Der langfristige
    Gesundheitsgedanke ist mir wichtig, während ich mich dabei auf BewegungsanfängerInnen und
    Fortgeschrittene konzentriere. Ich möchte, dass die Personen, die mit mir trainieren, einen
    verbesserten Zugang zu ihrem Körper finden – Body-Mind-Balance! #feelgood
</p>