<h3>About me</h3>
<p>
    Mein Name ist Tamara (geb. in OÖ) und schon als Kind habe ich meinen Barbies lieber Frisuren gemacht, als mit ihnen zu spielen.
    Als Teenager habe ich begonnen, Make-up Tipps diverser Jugend-Magazine in einer Mappe zu sammeln. Später, als das 
    Fortgeh-Fieber startete, habe ich das Schminken regelrecht zelebriert – an mir selbst und an meinen Freundinnen.
</p>
<p>
    2006 schloss ich als Klassenbeste meine Ausbildung zur Visagistin ab. Ein Jahr später setzte ich mir in den Kopf, 
    als Make-up Artist in Barcelona Fuß zu fassen. Das war dann doch nicht so einfach und wich auf andere Berufe aus. 
    Viele dieser unterschiedlichen Erfahrungen sind mir im Beauty-Bereich äußerst hilfreich: Ich bin u.a. ausgebildete Grafikerin, 
    habe diverse Teams geleitet, eine lange Zeit im Marketing-Bereich für ein österreichisches Beauty-Unternehmen gearbeitet und 
    dort auch u.a. komplette Fotoshootings organisiert und durchgeführt.
</p>
<p>
    2020 war es soweit und ich habe mich mit meiner Leidenschaft Make-up in die Selbständigkeit gewagt! Make-up ist für mich
    ein Ausdruck von Kreativität und Emotionen. Natürlich bist du auch ohne Make-up wunderschön, aber man will sich in gewissen
    Situationen vielleicht mal aus einem anderen Blickwinkel sehen und kennenlernen. Ich stehe dir für solche Momente mit Rat und 
    Tat zur Verfügung, um deine Schönheit zu akzentuieren und dich noch mehr strahlen zu lassen.
    Ich freue mich auf dich! #feelgood
</p>