<h3>About me</h3>
<p>
    Mein Name ist Tamara und schon als Kind habe ich meinen Barbies lieber Frisuren gemacht, als mit ihnen zu spielen.
    Als Teenager habe ich begonnen, Make-up Tipps diverser Jugend-Magazine in einer Mappe zu sammeln.
    Später, als das Club-Fieber startete, habe ich das Schminken regelrecht zelebriert – an mir selbst und an meinen Freundinnen.
</p>
<p>
    Meine Erfahrungen als Coach im Sport ziehen sich bereits über 15 Jahre. Ich bin ausgebildete Fitness- und
    Personal Trainerin. Außerdem bin ich Skilehrerin und habe mir unterschiedliche Lizenzen im Gruppenfitnessbereich
    angeeignet. Zusätzlich verfüge ich über profunde Kenntnisse zu einer gesunden Lebensführung (u.a. Ernährungsberatung).
    Ich bin sehr stolz auf meine Sprachkenntnisse und stehe dir auf Deutsch, Englisch, Spanisch oder Portugiesisch zur Verfügung. 
</p>
<p>
    2020 war es soweit und ich habe mich mit meiner Leidenschaft Make-up in die Selbständigkeit gewagt! Make-up ist für mich
    ein Ausdruck von Kreativität und Emotionen. Natürlich bist du auch ohne Make-up wunderschön, aber man will sich in gewissen
    Momenten oder Situationen vielleicht auch mal aus einem anderen Blickwinkel sehen und kennenlernen. Genau dabei stehe
    ich dir mit Rat und Tat zur Seite. Gemeinsam finden wir heraus, was du gerne möchtest und bringen dich zum Strahlen!
    Ich freue mich auf dich! #feelgood
</p>