<h3>About me</h3>
<p>
    Mein Name ist Tamara und schon als Kind habe ich meinen Barbies lieber Frisuren gemacht, als mit ihnen zu spielen.
    Als Teenager habe ich begonnen, Make-up Tipps diverser Jugend-Magazine in einer Mappe zu sammeln. Später, als das 
    Fortgeh-Fieber startete, habe ich das Schminken regelrecht zelebriert – an mir selbst und an meinen Freundinnen.
</p>
<p>
    2006 schloss ich als Klassenbeste meine Ausbildung zur Visagistin ab. Ein Jahr später setzte ich mir in den Kopf, 
    als Make-up Artist in Barcelona Fuß zu fassen. Das war dann doch nicht so einfach und ich fasste Fuß in anderen Berufen. 
    Viele dieser unterschiedlichen Erfahrungen sind mir im Beauty-Bereich äußerst hilfreich: Ich bin u.a. ausgebildete Grafikerin. 
    Ich habe diverse Teams geleitet, habe lange Zeit im Marketing-Bereich für ein Beauty-Unternehmen gearbeitet und dort auch 
    komplette Fotoshootings organisiert und durchgeführt.
</p>
<p>
    2020 war es soweit und ich habe mich mit meiner Leidenschaft Make-up in die Selbständigkeit gewagt! Make-up ist für mich
    ein Ausdruck von Kreativität und Emotionen. Natürlich bist du auch ohne Make-up wunderschön, aber man will sich in gewissen
    Momenten oder Situationen vielleicht auch mal aus einem anderen Blickwinkel sehen und kennenlernen. Genau dabei stehe
    ich dir mit Rat und Tat zur Seite. Gemeinsam finden wir heraus, was du gerne möchtest und bringen dich zum Strahlen!
    Ich freue mich auf dich! #feelgood
</p>