{{ define "main" }}
<div class="section-lg">
	<div class="bg-white-08">
		<div class="container">
			<div class="margin-bottom-70">
				<div class="row text-center">
					<div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
						<h2 class="font-weight-light">{{ .Page.Title }}</h2>
						<div class="divider-width-50px">
							<hr class="bg-black-05">
						</div>
					</div>
				</div>
			</div>
			<div class="impressum">
				<div class="row">
					<div class="col-6">
						<p>
							<strong>Tamara Dos Santos Goes</strong><br />
							Akkonplatz 6/Top 1<br />
							1150 Wien
						</p>
						<p>
							+(43) 650 28 25 968<br />
							info@tamara-feelgood.at
						</p>
					</div>
					<div class="col-6">
						<p>
							Rechtsform: EPU (Freies Gewerbe)<br />
							Firmensitz: Wien, Österreich<br />				
						</p>
						<p>
							Kammerzugehörigkeit: Wirtschaftskammer Wien		
							Gewerbeordnung: <a href="https://www.ris.bka.gv.at">www.ris.bka.gv.at</a><br />
						</p>
						<p>
							Verbraucher haben die Möglichkeit, Beschwerden an die <a href="http://ec.europa.eu/odr">Online Streitbeilegungsplattform der EU</a> zu richten. 
							Sie können allfällige Beschwerde auch an die oben angegebene E-Mail-Adresse richten.
						</p>
					</div>
				</div>
				<div style="margin-top: 60px;">
					<strong>Cookies</strong><br />
					Es werden keine Cookies verwendet bzw. Daten darin gespeichert.
				</div>
			</div>
		</div><!-- end container -->
	</div>
</div>
{{ end }}