<footer>
    <div class="section-sm" style="background-color: #8E069F; color:white;">
        <div class="container">
            <div class="row col-spacing-40">
                <div class="col-12 col-md-6 col-lg-3">
                    <img src="/img/logo_small.png" alt="Logo Tamara Feelgood" height="80" width="133" style="width: 133px; height: 80px;">
                </div>
                <div class="col-12 col-md-6">
                    <h6 class="font-family-tertiary font-small font-weight-normal uppercase" style="color:white;">Bereiche</h6>
                    <ul class="list-dash" style="color:white;">
                        <li><a href="{{ .Site.BaseURL }}/personaltraining" style="color:white;">Personal Training</a></li>
                        <li><a href="{{ .Site.BaseURL }}/fitnesswelt" style="color:white;">Fitness Welt</a></li>
                        <li><a href="{{ .Site.BaseURL }}/workshops" style="color:white;">Workshops</a></li>
                        <li><a href="{{ .Site.BaseURL }}/tre" style="color:white;">TRE</a></li>
                        <li><a href="{{ .Site.BaseURL }}/impressum" style="color:white;">Impressum</a></li>
                        <li><a href="{{ .Site.BaseURL }}/agb" style="color:white;">AGB</a></li>
                    </ul>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <h6 class="font-family-tertiary font-small font-weight-normal uppercase"  style="color:white;">Kontaktdaten</h6>
                    <ul class="list-unstyled">
                        <li>info@tamara-feelgood.at</li>
                        <li>+(43) 650 28 25 968</li>
                    </ul>
                </div>
            </div><!-- end row(1) -->

            <hr class="margin-top-50 margin-bottom-30">

            <div class="row">
                <div class="col-12 col-md-6 text-center text-md-left">
                    <p>© 2024 Tamara Dörr</p>
                </div>
                <div class="col-12 col-md-6 text-center text-md-right">
                    <ul class="list-inline">
                        <li><a href="https://www.instagram.com/feelgood_tamara/" style="color:white;" target="_blank" title="Instagram"><i class="fab fa-instagram" aria-label="Insagram Icon"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCL77j3R6NB3UWLmDX-4txhQ" style="color:white;" target="_blank" title="Youtube"><i class="fab fa-youtube" aria-label="Youtube Icon"></i></a></li>
                        <li><a href="https://open.spotify.com/user/gvy0oqkkjdguxxsbu56zjcscp?si=wrHogFZ2Q1OT2WbsKXqrmA" style="color:white;" target="_blank" title="Spotify"><i class="fab fa-spotify" aria-label="Spotify Icon"></i></a></li>
                    </ul>
                </div>
            </div><!-- end row(2) -->
        </div><!-- end container -->
    </div>
</footer>