<footer>
    <div class="section-sm bg-dark">
        <div class="container">
            <div class="row col-spacing-40">
                <div class="col-12 col-md-6 col-lg-3">
                    <h3>mono</h3>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <h6 class="font-family-tertiary font-small font-weight-normal uppercase">Useful Links</h6>
                    <ul class="list-dash">
                        <li><a href="#services">Dienstleistungen</a></li>
                        <li><a href="#about-me">Über mich</a></li>
                        <li><a href="#blog">Blog</a></li>
                        <li><a href="#contact">Kontakt</a></li>
                    </ul>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <h6 class="font-family-tertiary font-small font-weight-normal uppercase">Additional Links</h6>
                    <ul class="list-dash">
                        <li><a href="#">Impressum</a></li>
                        <li><a href="#">Datenschutz</a></li>
                    </ul>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <h6 class="font-family-tertiary font-small font-weight-normal uppercase">Kontaktdaten</h6>
                    <ul class="list-unstyled">
                        <li>121 King St, Melbourne VIC 3000</li>
                        <li>info@tamara-feelgood.at</li>
                        <li>+(43) 650 28 25 968</li>
                    </ul>
                </div>
            </div><!-- end row(1) -->

            <hr class="margin-top-50 margin-bottom-30">

            <div class="row">
                <div class="col-12 col-md-6 text-center text-md-left">
                    <p>© 2020 Tamara Dos Santos Goes</p>
                </div>
                <div class="col-12 col-md-6 text-center text-md-right">
                    <ul class="list-inline">
                        <li><a href="https://www.instagram.com/feelgood_tamara/"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div><!-- end row(2) -->
        </div><!-- end container -->
    </div>
</footer>