<footer>
    <div class="section-sm bg-dark">
        <div class="container">
            <div class="row col-spacing-40">
                <div class="col-12 col-md-6 col-lg-3">
                    <img src="/images/logo_small.png" alt="Logo Tamara Feelgood">
                </div>
                <div class="col-12 col-md-6">
                    <h6 class="font-family-tertiary font-small font-weight-normal uppercase">Bereiche</h6>
                    <ul class="list-dash">
                        <li><a href="{{ .Site.BaseURL }}/fitness#move">Bewegungsangebote</a></li>
                        <li><a href="{{ .Site.BaseURL }}/fitness#companies">Firmenfitness</a></li>
                        <li><a href="{{ .Site.BaseURL }}/fitness#online-training">Online-Training</a></li>
                        <li><a href="{{ .Site.BaseURL }}/fitness#about-me">About me</a></li>
                        <li><a href="{{ .Site.BaseURL }}/Impressum">Impressum</a></li>
                    </ul>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <h6 class="font-family-tertiary font-small font-weight-normal uppercase">Kontaktdaten</h6>
                    <ul class="list-unstyled">
                        <li>info@tamara-feelgood.at</li>
                        <li>+(43) 650 28 25 968</li>
                    </ul>
                </div>
            </div><!-- end row(1) -->

            <hr class="margin-top-50 margin-bottom-30">

            <div class="row">
                <div class="col-12 col-md-6 text-center text-md-left">
                    <p>© 2020 Tamara Dos Santos Goes</p>
                </div>
                <div class="col-12 col-md-6 text-center text-md-right">
                    <ul class="list-inline">
                        <li><a href="https://www.instagram.com/feelgood_tamara/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://www.facebook.com/feelgoodfittam" target="_blank"><i class="fab fa-facebook"></i></a></li>
                    </ul>
                </div>
            </div><!-- end row(2) -->
        </div><!-- end container -->
    </div>
</footer>