<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Tamara - feel good</title>
    <meta name="author" content="Tamara Dos Santos G&oacute;es">
    <meta name="publisher" content="Tamara Dos Santos G&oacute;es">
    <meta name="copyright" content="Tamara Dos Santos G&oacute;es">
    <meta name="description" content="">
    <meta name="keywords" content="Tamara, Dos, Santos G&oacute;es, Make, up, Visagistin, Fitness, Fitnesstrainer, Fitnesstrainerin, Personal, Training">
    <meta name="page-topic" content="Dienstleistung">
    <meta name="audience" content="Alle"><meta http-equiv="content-language" content="de">
    <meta name="robots" content="index, nofollow">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ .Site.BaseURL }}img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ .Site.BaseURL }}img/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ .Site.BaseURL }}img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ .Site.BaseURL }}img/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ .Site.BaseURL }}img/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ .Site.BaseURL }}img/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ .Site.BaseURL }}img/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ .Site.BaseURL }}img/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.BaseURL }}img/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ .Site.BaseURL }}img/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ .Site.BaseURL }}img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ .Site.BaseURL }}img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ .Site.BaseURL }}img/favicon-16x16.png">
    <link rel="shortcut icon"  href="{{ .Site.BaseURL }}img/favicon.ico" type="image/x-icon" >
    <link rel="manifest" href="{{ .Site.BaseURL }}manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="img/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    {{ $bootstrap := resources.Get "plugins/bootstrap/bootstrap.min.css" }}
    {{ $carousel := resources.Get "plugins/owl-carousel/owl.carousel.min.css" }}
    {{ $theme := resources.Get "plugins/owl-carousel/owl.theme.default.min.css" }}
    {{ $magnific := resources.Get "plugins/magnific-popup/magnific-popup.min.css" }}
    {{ $themify := resources.Get "plugins/themify/themify-icons.min.css" }}
    {{ $app := resources.Get "css/app.css" }}
    {{ $css := slice $bootstrap $carousel $theme $magnific $themify $app | resources.Concat "css/bundle.css" }}

    <script defer src="https://use.fontawesome.com/releases/v5.12.0/js/all.js"></script>
    <link href="{{ $css.Permalink }}" rel="stylesheet">
</head>