<header id="home">
    <!-- navbar -->
    <nav class="navbar navbar-absolute navbar-fixed">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/img/logo_small.png">
            </a>
            <ul class="nav">
                <li class="nav-item"><a class="nav-link" href="#home">Home</a></li>
                <li class="nav-item nav-dropdown">
                    <a class="nav-link" href="#services">Dienstleistungen</a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Privat</a></li>
                        <li><a href="#">Firmen</a></li>
                        <li><a href="#">Online-Service</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="#about-me">Über mich</a></li>
                <li class="nav-item"><a class="nav-link" href="#blog">Blog</a></li>
                <!-- <li class="nav-item"><a class="nav-link" href="#">Rezensionen</a></li> -->
                <li class="nav-item"><a class="nav-link" href="#contact">Kontakt</a></li>
            </ul><!-- end nav -->
            <!-- Nav Toggle button -->
            <button class="nav-toggle-btn">
                <span class="lines"></span>
            </button>
        </div><!-- end container -->
    </nav><!-- end navbar -->

    <!-- Page header -->
    <div class="section-xl bg-image parallax" data-bg-src="../assets/images/agency-classic-bg.jpg" style="background-image: url(&quot;../assets/images/agency-classic-bg.jpg&quot;); background-size: cover; background-repeat: no-repeat; background-attachment: fixed; background-position: center 0px;">
        <div class="bg-black-06">
            <div class="container text-center">
                <h1 class="font-weight-light margin-0">Fittness</h1>
            </div><!-- end container -->
        </div>
    </div>
</header>