<header id="home">
    <!-- navbar -->
    <nav class="navbar navbar-fixed">
        <div class="container">
            <a class="navbar-brand" href="{{ .Site.BaseURL }}">
                <img src="/img/logo_small.png" alt="Logo Tamara Feelgood">
            </a>
            <ul class="nav">
                <li class="nav-item"><a class="nav-link" href="{{ .Site.BaseURL }}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ .Site.BaseURL }}#BewegungsAngebote">Bewegungsangebote</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ .Site.BaseURL }}#VirtualFitness">Virtual Fitness</a></li>
                <!-- <li class="nav-item"><a class="nav-link" href="{{ .Site.BaseURL }}#companies">FAQ</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ .Site.BaseURL }}#companies">Rezensionen</a></li> -->
                <li class="nav-item"><a class="nav-link" href="{{ .Site.BaseURL }}#AboutMe">About me</a></li>
            </ul><!-- end nav -->
            
            <!-- Nav Toggle button -->
            <button class="nav-toggle-btn">
                <span class="lines"></span>
            </button>
        </div><!-- end container -->
    </nav><!-- end navbar -->
</header>