<header id="home">
    <!-- navbar -->
    <nav class="navbar navbar-absolute navbar-fixed">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/img/logo_small.png">
            </a>
            <ul class="nav">
                <li class="nav-item"><a class="nav-link" href="#home">Home</a></li>
                <li class="nav-item nav-dropdown">
                    <a class="nav-link" href="#services">Dienstleistungen</a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Privat</a></li>
                        <li><a href="#">Firmen</a></li>
                        <li><a href="#">Online-Service</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="#about-me">Über mich</a></li>
                <li class="nav-item"><a class="nav-link" href="#blog">Blog</a></li>
                <!-- <li class="nav-item"><a class="nav-link" href="#">Rezensionen</a></li> -->
                <li class="nav-item"><a class="nav-link" href="#contact">Kontakt</a></li>
            </ul><!-- end nav -->
            <!-- Nav Toggle button -->
            <button class="nav-toggle-btn">
                <span class="lines"></span>
            </button>
        </div><!-- end container -->
    </nav><!-- end navbar -->
</header>