{{ $plugins := resources.Get "plugins/jquery.min.js" }}
{{ $global := resources.Get "plugins/plugins.js" }}
{{ $functions := resources.Get "js/functions.js" }}
{{ $main := resources.Get "js/main.js" }}
{{ $js := slice $plugins $global $functions $main | resources.Concat "js/bundle.js" }}
<script src="{{ $js.Permalink }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/simplelightbox/2.7.0/simple-lightbox.jquery.js" integrity="sha512-9jjfnijbP6XAEwXJ75lDqSg+lN2BYyDPaGzKL+85+8GubsJWqI6UvsYJ+rJ1615ixzqkHQxNZ3DFfilyAVUqAg==" crossorigin="anonymous"></script>
{{ if .Params.js }}
<script src="{{ .Params.js }}"></script>
{{ end }}

<!-- START - We recommend to place the below code in footer or bottom of your website html  -->
<script>
    window.REQUIRED_CODE_ERROR_MESSAGE = 'Wählen Sie bitte einen Ländervorwahl aus.';
    window.LOCALE = 'de';
    window.EMAIL_INVALID_MESSAGE = window.SMS_INVALID_MESSAGE = "Die eingegebenen Informationen sind nicht gültig. Bitte überprüfen Sie das Feldformat und versuchen Sie es erneut.";

    window.REQUIRED_ERROR_MESSAGE = "Dieses Feld darf nicht leer sein. ";

    window.GENERIC_INVALID_MESSAGE = "Die eingegebenen Informationen sind nicht gültig. Bitte überprüfen Sie das Feldformat und versuchen Sie es erneut.";




    window.translation = {
    common: {
    selectedList: '{quantity} Liste ausgewählt',
    selectedLists: '{quantity} Listen ausgewählt'
    }
    };

    var AUTOHIDE = Boolean(0);
</script>

<script defer src="https://sibforms.com/forms/end-form/build/main.js"></script>

<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>