{{ define "main" }}
<div class="section margin-top-70">
  <div class="container">
    <div class="section-title text-center">
      <h2 class="font-weight-normal">
        <span class="uppercase"><strong>#feelgood</strong> in Marchtrenk</span>
      </h2>
    </div>
    <p style="font-size: 1.1rem">
      Gerne heiße ich dich in meinen Gruppenfitness-Einheiten in Marchtrenk
      willkommen. Als Marchtrenkerin freut es mich, nach viel nationaler und
      internationaler Erfahrung im Anleiten von Gruppen, nun endlich in meiner
      Heimat fixe Einheiten anzubieten. #feelgoodtamara
    </p>
    <p style="font-size: 1.1rem">
      Der aktuelle Kursblock läuft noch bis <strong>15.12.2025</strong>.
      Solltest du noch einsteigen wollen, melde dich gerne. Der neue
      <strong>Kursblock „01/2026“</strong> startet am
      <strong>12.01.2026</strong> und endet am <strong>30.03.2026</strong>.
    </p>
  </div>
</div>
<div class="section" style="background-color: #004aad; color: white">
  <div class="container">
    <div class="text-center margin-bottom-70">
      <h2 class="display-5 font-weight-thin" style="color: white">
        Die Einheiten/Module ab 2026
      </h2>
    </div>
    <div class="row align-items-center">
      <div class="col-12 col-md-4">
        <h2 class="display-4 font-weight-thin margin-0" style="color: white">
          17 Uhr
        </h2>
      </div>
      <div class="col-12 col-md-8">
        <h3 class="font-weight-normal" style="color: white">
          Beckenboden & Mobility
        </h3>
        <div class="divider-width-40px margin-bottom-20">
          <hr class="bg-white-09" />
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-12 col-md-4">
        <h2 class="display-4 font-weight-thin margin-0" style="color: white">
          18 Uhr
        </h2>
      </div>
      <div class="col-12 col-md-8">
        <h3 class="font-weight-normal" style="color: white">Pilates</h3>
        <div class="divider-width-40px margin-bottom-20">
          <hr class="bg-white-09" />
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-12 col-md-4">
        <h2 class="display-4 font-weight-thin margin-0" style="color: white">
          19 Uhr
        </h2>
      </div>
      <div class="col-12 col-md-8">
        <h3 class="font-weight-normal" style="color: white">Pilates</h3>
        <div class="divider-width-40px margin-bottom-20">
          <hr class="bg-white-09" />
        </div>
      </div>
    </div>
    <div class="row align-items-center margin-top-30">
      <div class="col-12 col-md-4">&nbsp;</div>
      <div class="col-12 col-offset-md-4 col-md-8">
        <p>
          Ort: Studio Marchtrenk, Linzer Str. 35, 1. OG (Marktplatzcenter)<br />
          Dauer pro Einheit: ca. 50 Min.
        </p>
      </div>
    </div>

    <!-- end row -->
  </div>
  <!-- end container -->
</div>

<!-- Prices section -->
<div class="section">
  <div class="container">
    <div class="section-title text-center">
      <h2>Die Preise</h2>
    </div>
    <div class="row">
      <!-- Prices box 1 -->
      <div class="col-12 col-lg-4">
        <div class="prices-box prices-box-recommended">
          <h6
            class="font-family-tertiary font-small font-weight-normal uppercase"
          >
            Kursblock 01/2026
          </h6>
          <div class="price">
            <h1 class="font-weight-normal">145<span>€ / pro Modul</span></h1>
          </div>
          <div class="price-features">
            <ul>
              <li>11 Einheiten</li>
              <li>Günstigerer Preis</li>
              <li>mehr Motivation durch mehr Bindung</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Prices box 1 -->
      <div class="col-12 col-lg-4">
        <div class="prices-box">
          <h6
            class="font-family-tertiary font-small font-weight-normal uppercase"
          >
            Flexibler 10er Block
          </h6>
          <div class="price">
            <h1 class="font-weight-normal">160<span>€</span></h1>
          </div>
          <div class="price-features">
            <ul>
              <li>Zeitlich flexibel</li>
              <li>Jedes Modul kann besucht werden</li>
              <li>16 Wochen gültig ab Kauf</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Prices box 3 -->
      <div class="col-12 col-lg-4">
        <div class="prices-box">
          <h6
            class="font-family-tertiary font-small font-weight-normal uppercase"
          >
            Einzeleinheit
          </h6>
          <div class="price">
            <h1 class="font-weight-normal">18<span>€ / Stunde</span></h1>
          </div>
          <div class="price-features">
            <ul>
              <li>Keine Bindung</li>
              <li>Kein Stress bei Ausfällen</li>
              <li>Spontane Teilnahme möglich</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center margin-top-70">
      <h5>Voraussetzungen für beide Module</h5>
      Generell gesprochen solltest du sporttauglich sein, also keine akute
      Verletzung haben. Plus: am Boden legen, hinknien, aufsitzen und vom Boden
      wieder aufstehen sollte möglich sein.
    </div>
    <!-- end container -->
  </div>
</div>

<div class="section border-top">
  <div class="container">
    <div class="section-title text-center">
      <h2 class="font-weight-normal">
        <span class="uppercase">Beckenboden & Mobility</span>
      </h2>
    </div>
    <p>
      Kümmere dich gezielt um deinen Beckenboden und fördere gleichzeitig deine
      Beweglichkeit – für mehr Stabilität, eine gesunde Haltung und ein rundum
      gutes Körpergefühl! Dich erwarten effektive Übungen für deinen Beckenboden
      (Stärkung und Entspannung) und Mobilisation für den ganzen Körper, die
      alltagstauglich und für jedes Fitnesslevel geeignet sind. Ein Mix aus
      Anspannung, Verdrehen, Rotieren und Atmung tut nebenbei auch deiner
      Wirbelsäule gut. Steigere deine Lebensqualität durch mehr Zugang zum
      eigenen Körper (u.a. dem Beckenboden) und tu deinem Bewegungsapparat etwas
      Gutes!
    </p>
  </div>
</div>
<div class="section border-top">
  <div class="container">
    <div class="section-title text-center">
      <h2 class="font-weight-normal">
        <span class="uppercase">Pilates</span>
      </h2>
    </div>
    <p>
      Pilates ist ein ganzheitliches Trainingskonzept, das nicht nur Körper und
      Geist gleichermaßen anspricht, sondern auch gezielt den Beckenboden
      stärkt. Mit kontrollierten, fließenden Bewegungen werden vor allem die
      tiefen Muskelgruppen trainiert, die für eine gesunde Haltung, Stabilität
      und ein kräftiges Körperzentrum verantwortlich sind. Auch hier spielt der
      Beckenboden eine zentrale Rolle: Er wird durch viele Pilates-Übungen
      bewusst aktiviert und gefestigt, was nicht nur eine stabile Mitte, sondern
      auch eine bessere Körperhaltung und Prävention von Rückenschmerzen
      unterstützt. Besonders die Verbindung von Atmung, Konzentration und
      Bewegung schafft einen meditativen Flow, fördert die mentale
      Ausgeglichenheit und hilft, Stress abzubauen.
    </p>
  </div>
</div>
{{ end }}
