{{ define "main" }}
<div class="section margin-top-70">
  <div class="container">
    <div class="section-title text-center">
      <h2 class="font-weight-normal">
        <span class="uppercase"><strong>#feelgood</strong> in Marchtrenk</span>
      </h2>
    </div>
    <p style="font-size: 1rem">
      Gerne heiße ich dich in meinen Pilates-Einheiten in Marchtrenk willkommen.
      Als Marchtrenkerin freut es mich, nach viel nationaler und internationaler
      Erfahrung im Anleiten von Gruppen, nun endlich in meiner Heimat fixe
      Einheiten anzubieten. #feelgoodtamara
    </p>
    <p style="font-size: 1rem">
      Aktuell läuft der Kursblock „Sommer“ bis einschließlich 24.08. Gerne
      kannst du noch einsteigen, wenn du möchtest. Bei Schönwetter und trockenem
      Boden findet er Outdoor statt (Schubertpark), bei Schlechtwetter im
      Tanzstudio Marchtrenk (Linzer Straße 35, 1.OG.). Kontaktiere mich für mehr
      Infos.
    </p>
    <p style="font-size: 1rem">
      Ab Herbst gibt es wieder 2 Einheiten (Indoor im Tanzstudio Marchtrenk) –
      18:00 & 19:00.
    </p>
  </div>
</div>
<div class="section" style="background-color: #004aad; color: white">
  <div class="container">
    <div class="text-center margin-bottom-70">
      <h2 class="display-5 font-weight-thin" style="color: white">
        Die Einheiten/Module ab 2026
      </h2>
    </div>
    <div class="row align-items-center">
      <div class="col-12 col-md-4">
        <h2 class="display-4 font-weight-thin margin-0" style="color: white">
          18 Uhr
        </h2>
      </div>
      <div class="col-12 col-md-8">
        <h3 class="font-weight-normal" style="color: white">Pilates</h3>
        <div class="divider-width-40px margin-bottom-20">
          <hr class="bg-white-09" />
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-12 col-md-4">
        <h2 class="display-4 font-weight-thin margin-0" style="color: white">
          19 Uhr
        </h2>
      </div>
      <div class="col-12 col-md-8">
        <h3 class="font-weight-normal" style="color: white">Pilates</h3>
        <div class="divider-width-40px margin-bottom-20">
          <hr class="bg-white-09" />
        </div>
      </div>
    </div>
    <div class="row align-items-center margin-top-30">
      <div class="col-12 col-md-4">&nbsp;</div>
      <div class="col-12 col-offset-md-4 col-md-8">
        <p>
          <strong>Ort:</strong>
          <a
            class="blue-link"
            href="https://maps.app.goo.gl/kjCn9m3EKLYuag2t9"
            target="_blank"
            >Studio Marchtrenk, Linzer Str. 35, 1. OG (Marktplatzcenter)</a
          ><br />
          <strong>Dauer pro Einheit:</strong> ca. 50 Min.<br />
          Komm vorbei und probiere es aus!
          <strong>Schnupperstunde</strong> ist jederzeit kostenlos möglich.
        </p>
      </div>
    </div>

    <div class="text-center margin-top-50">
      <h2 class="display-5 font-weight-thin" style="color: white">Termine</h2>
    </div>

    <div class="row align-items-center">
      <div class="col-12 col-md-6 text-center">
        <strong>Kursblock 03/2026</strong><br />
        <ul style="margin: 0; list-style: none">
          <li>07. Sep</li>
          <li>14. Sep</li>
          <li>21. Sep</li>
          <li>28. Sep</li>
          <li>05. Okt</li>
          <li>12. Okt</li>
          <li>19. Okt</li>
        </ul>
      </div>
      <div class="col-12 col-md-6 text-center">
        <strong>Kursblock 04/2026</strong><br />
        <ul style="margin: 0; list-style: none">
          <li>09. Nov</li>
          <li>16. Nov</li>
          <li>23. Nov</li>
          <li>30. Nov</li>
          <li>07. Dez</li>
          <li>14. Dez</li>
          <li>21. Dez</li>
        </ul>
      </div>
    </div>

    <!-- end row -->
  </div>
  <!-- end container -->
</div>

<!-- Prices section -->
<div class="section">
  <div class="container">
    <div class="section-title text-center">
      <h2>Die Preise</h2>
    </div>
    <div class="row">
      <!-- Prices box 1 -->
      <div class="col-12 col-lg-4">
        <div class="prices-box">
          <h6
            class="font-family-tertiary font-small font-weight-normal uppercase"
          >
            Kursblock
          </h6>
          <div class="price">
            <h1 class="font-weight-normal">92<span>€ / pro Modul</span></h1>
          </div>
          <div class="price-features">
            <ul>
              <li>7 Einheiten</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Prices box 1 -->
      <div class="col-12 col-lg-4">
        <div class="prices-box">
          <h6
            class="font-family-tertiary font-small font-weight-normal uppercase"
          >
            Flexibler 10er Block
          </h6>
          <div class="price">
            <h1 class="font-weight-normal">160<span>€</span></h1>
          </div>
          <div class="price-features">
            <ul>
              <li>Zeitlich flexibel</li>
              <li>Jedes Modul kann besucht werden</li>
              <li>16 Wochen gültig ab Kauf</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Prices box 3 -->
      <div class="col-12 col-lg-4">
        <div class="prices-box">
          <h6
            class="font-family-tertiary font-small font-weight-normal uppercase"
          >
            Einzeleinheit
          </h6>
          <div class="price">
            <h1 class="font-weight-normal">18<span>€ / Stunde</span></h1>
          </div>
          <div class="price-features">
            <ul>
              <li>Keine Bindung</li>
              <li>Kein Stress bei Ausfällen</li>
              <li>Spontane Teilnahme möglich</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center margin-top-70">
      <h5>Voraussetzungen für beide Module</h5>
      Generell gesprochen solltest du sporttauglich sein, also keine akute
      Verletzung haben. Plus: am Boden legen, hinknien, aufsitzen und vom Boden
      wieder aufstehen sollte möglich sein.
    </div>
    <div class="text-center margin-top-70">
      <a
        class="button button-lg button-reveal-right-dark button-rounded"
        href="{{ .Site.BaseURL }}kontakt"
        title="Kontaktiere mich"
      >
        <i class="ti-arrow-right"></i><span>Kontaktiere mich</span>
      </a>
    </div>
    <!-- end container -->
  </div>
</div>

<div class="section border-top">
  <div class="container">
    <div class="section-title text-center">
      <h2 class="font-weight-normal">
        <span class="uppercase">Pilates</span>
      </h2>
    </div>
    <p>
      Pilates ist ein ganzheitliches Trainingskonzept, das nicht nur Körper und
      Geist gleichermaßen anspricht, sondern auch gezielt den Beckenboden
      stärkt. Mit kontrollierten, fließenden Bewegungen werden vor allem die
      tiefen Muskelgruppen trainiert, die für eine gesunde Haltung, Stabilität
      und ein kräftiges Körperzentrum verantwortlich sind. Auch hier spielt der
      Beckenboden eine zentrale Rolle: Er wird durch viele Pilates-Übungen
      bewusst aktiviert und gefestigt, was nicht nur eine stabile Mitte, sondern
      auch eine bessere Körperhaltung und Prävention von Rückenschmerzen
      unterstützt. Besonders die Verbindung von Atmung, Konzentration und
      Bewegung schafft einen meditativen Flow, fördert die mentale
      Ausgeglichenheit und hilft, Stress abzubauen.
    </p>
  </div>
</div>
{{ end }}
