{{ define "main" }}

<div class="section-2xl bg-image" data-bg-src="{{ .Site.BaseURL }}/images/index_title_image.webp" style="background-image: url(&quot;{{ .Site.BaseURL }}/images/TitelbildFIT_Okt2021_kleiner.jpg&quot;); background-size: cover; background-repeat: no-repeat; background-position: center center;">
    <div class="container">
    </div><!-- end container -->
</div>

<div class="section" id="BewegungsAngebote">
    <div class="container">
        <div class="margin-bottom-70">
            <h2 style="text-transform: uppercase">{{ .Site.Data.fitness.home.Title }}</h2>
            <p>{{ .Site.Data.fitness.home.Text }}</p>
            <p class="uppercase font-large margin-top-20">{{ .Site.Data.fitness.home.SubText }}</p>
        </div>
        <div class="row col-spacing-20">
            {{ range $index, $element := $.Site.Data.fitness.areas }}
            <div class="col-12 col-lg-4">
                <a href="{{ .Site.BaseURL }}{{ $element.Link }}" class="index-images-link">
                    <div class="index-images" style="background-color:{{ $element.BgColor }};">
                        <img src="{{ .Site.BaseURL }}{{ $element.Image }}" alt="{{ $element.Title }}">
                        <div class="content">
                            <div class="title"><span style="color:{{ $element.FeelgoodColor }};">#feelgood</span> <span style="color:{{ $element.TitleColor }}; text-wrap: nowrap; text-transform: uppercase;">{{ $element.Title }}</span></div>
                            <p>{{ $element.Text }}</p>
                        </div>
                    </div>
                </a>
            </div>
            {{ end }}
        </div><!-- end row -->       
    </div>
</div>

{{ if $.Site.Data.fitness.references.data }}
<div class="section">
    <div class="container">
        {{ if $.Site.Data.fitness.references.title.Title }}
        <div class="margin-bottom-70 text-center">
            <h3 class="margin-0">{{ .Site.Data.fitness.references.title.Title }}</h3>
        </div>
        {{ end }}
        <div class="owl-carousel icon-2xl" data-owl-items="1" data-owl-dots="false" data-owl-nav="true">
            {{ range $index, $element := $.Site.Data.fitness.references.data }}
                <div class="testimonial-box">
                    <i class="fas fa-quote-right text-dark margin-bottom-30"></i>
                    <p class="margin-bottom-20">"{{ $element.Text }}"</p>
                    {{ if $element.Name }}
                    <h5 class="font-weight-normal line-height-140 margin-0">{{ $element.Name }}</h5>
                    {{ end }}
                </div>
            {{ end }}
        </div><!-- end owl-carousel -->
    </div>
</div>
{{ end }}

<!-- <div id="outdoor" class="section-xl bg-image parallax" data-bg-src="{{ .Site.BaseURL }}/images/DL_breitOutdoor.jpg" style="background-image: url(&quot;{{ .Site.BaseURL }}/images/home_training_1.jpg&quot;); background-size: cover; background-repeat: no-repeat; background-attachment: fixed; background-position: center 193.94px;">
    <div class="bg-black-07">
        <div class="container text-center">
            <div class="row">
                <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                    <h3 class="margin-bottom-20">{{ .Site.Data.fitness.outdoor.getInTouch.Title }}</h3>
                    <p class="font-large">{{ .Site.Data.fitness.outdoor.getInTouch.Text }}</p>
                    <div class="margin-top-60">
                        <div style="font-size: 1rem;">{{ .Site.Data.fitness.outdoor.getInTouch.ButtonText }}</div>
                        <div style="display: flex; justify-content: center; margin-top: 0.25rem;">
                            <div style="margin-right: 1rem;">
                                <a class="button button-lg button-radius button-outline-white" href="mailto:info@tamara-feelgood.at"><i class="fas fa-envelope" style=" font-size: 1.2rem" aria-label="Kontaktiere mich per E-Mail"></i></a>
                            </div>
                            <div style="margin-right: 1rem;">
                                <a class="button button-lg button-radius button-outline-white" href="tel:+436502825968"><i class="fas fa-phone" style=" font-size: 1.2rem" aria-label="Kontaktiere mich per Telefon"></i></a>
                            </div>
                            <div>
                                <a class="button button-lg button-radius button-outline-white" href="https://wa.me/436502825968"><i class="fab fa-whatsapp" style=" font-size: 1.2rem" aria-label="Kontaktiere mich per WhatsApp"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="section" id="companies">
    <div class="container">
        <div class="margin-bottom-70">
            <div class="row">
                <div class="col-12 col-md-10 col-lg-8 col-xl-7">
                    <h2 class="margin-0" style="text-transform: uppercase">{{ .Site.Data.fitness.company.title.Title }}</h2>
                    <p>{{ .Site.Data.fitness.company.title.Text }}</p>
                </div>
            </div>
        </div>
        <div class="row col-spacing-20 icon-5xl">
            <div class="col-12 col-lg-4">
                <div class="border-all padding-30 padding-x-lg-40 padding-y-lg-50">
                    <h5 class="font-weight-normal margin-top-20">{{ .Site.Data.fitness.company.types.Title1 }}</h5>
                    <p>{{ .Site.Data.fitness.company.types.Text1 }}</p>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="border-all padding-30 padding-x-lg-40 padding-y-lg-50">
                    <h5 class="font-weight-normal margin-top-20">{{ .Site.Data.fitness.company.types.Title2 }}</h5>
                    <p>{{ .Site.Data.fitness.company.types.Text2 }}</p>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="border-all padding-30 padding-x-lg-40 padding-y-lg-50">
                    <h5 class="font-weight-normal margin-top-20">{{ .Site.Data.fitness.company.types.Title3 }}</h5>
                    <p>{{ .Site.Data.fitness.company.types.Text3 }}</p>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div id="online-training" class="section-xl bg-image parallax" data-bg-src="{{ .Site.BaseURL }}/images/home_training_1.jpg" style="background-image: url(&quot;{{ .Site.BaseURL }}/images/home_training_1.jpg&quot;); background-size: cover; background-repeat: no-repeat; background-attachment: fixed; background-position: center 193.94px;">
    <div class="bg-black-07">
        <div class="container text-center">
            <div class="row">
                <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                    <h3 class="margin-bottom-20">{{ .Site.Data.fitness.online.title.Title }}</h3>
                    <p class="font-large">{{ .Site.Data.fitness.online.title.Text }}</p>
                    <div class="margin-top-60">
                        <div style="font-size: 1rem;">Kontaktiere mich</div>
                        <div style="display: flex; justify-content: center; margin-top: 0.25rem;">
                            <div style="margin-right: 1rem;">
                                <a class="button button-lg button-radius button-outline-white" href="mailto:info@tamara-feelgood.at"><i class="fas fa-envelope" style=" font-size: 1.2rem" aria-label="Kontaktiere mich per E-Mail"></i></a>
                            </div>
                            <div>
                                <a class="button button-lg button-radius button-outline-white" href="https://wa.me/436502825968"><i class="fab fa-whatsapp" style=" font-size: 1.2rem" aria-label="Kontaktiere mich per WhatsApp"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section border-bottom" id="about-me">
    <div class="container">
        <!-- <div class="section-title text-center">
            <h2>We Develop Digital Products</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Integer tincidunt.</p>
        </div> -->
        <div class="row align-items-center col-spacing-50">
            <div class="col-12 col-lg-4">
                <img src="{{ .Site.BaseURL }}/images/About_me.webp" alt="Tamara Dörr Portrait"><!-- Image source -->
            </div>
            <div class="col-12 col-lg-8 p-padding">
                {{ template "_internal/about-me.html" . }}
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</div>

<div class="section-xl gradient-bg" id="outdoor">
    <div class="container text-center">
        <div class="row">
            <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                <h3 class="margin-bottom-20" style="color: white;">{{ .Site.Data.fitness.move.getInTouch.Title }}</h3>
                <p class="font-large">{{ .Site.Data.fitness.move.getInTouch.Text }}</p>
                <a class="button button-lg button-radius button-outline-white margin-top-30" href="mailto:info@tamara-feelgood.at">{{ .Site.Data.fitness.move.getInTouch.ButtonText }}</a>
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</div>

{{ end }}