<div class="section border-top margin-top-70">
    <div class="container">
        <div class="margin-bottom-70 text-center">
            <h3 class="margin-0">Referenzen</h3>
        </div>
        <div class="owl-carousel icon-2xl" data-owl-items="1" data-owl-dots="false" data-owl-nav="true">
            <div>
                <div class="testimonial-box"><i class="fas fa-quote-right text-dark margin-bottom-30"></i></div>

                <p class="margin-bottom-20">
                    Angefangen habe ich mit TRE® weil ich an Rückenschmerzen, Kopfschmerzen und extremen Stress litt. Die erste Session war Neuland, spannend und fordernd zugleich.
                    Sich auf etwas einzulassen, was man nicht selbst steuern kann, ist sehr spannend, interessant und lehrreich zugleich.
                </p>
                <p>
                    Von Mal zu Mal hat sich einiges verändert.  Mal reagierten die Hände, mal der Bauch mal die Beine oder auch die Augen. Von leichten Wellen bis starkes Zappeln war alles dabei. Tamara hat mich sehr gut begleitet und mich auf die TRE® Reise mitgenommen. Da ich gelernt habe, dass ich immer durch Fuß ausstrecken den Prozess beenden konnte, fühlte ich mich sehr rasch sicher.
                </p>
                <p>
                    Was hat sich seither verändert:
                    <ul>
                        <li>Verringerung der Rückenschmerzen</li>
                        <li>Verringerung der Kopfschmerzen</li>
                    </ul>
                </p>
                <p>
                    Was ist sofort nach einer TRE® Sitzung zu spüren::
                    <ul>
                        <li>Leichtigkeit</li>
                        <li>Entspannung</li>
                        <li>Stressabbau</li>
                    </ul>
                </p>
                <p>
                    Momentan wende ich TRE® bei extremem Stress auch im Sitzen an und komme so sehr rasch wieder in Balance. 2 mal die Woche ist zusätzlich TRE® me time wo ich mir ca. 10 Min. Zeit am Abend nehme, und schaue was kommt und es kommt immer etwas, jedoch ist es ist immer anders. Danke, dass du mich so toll begleitet hast, liebe Tamara.
                </p>
            </div>
            <div>
                <div class="testimonial-box"><i class="fas fa-quote-right text-dark margin-bottom-30"></i></div>

                <p class="margin-bottom-20">
                    Ich habe TRE® vor allem aus Neugier ausprobiert und war gleich gerne mit dabei. Durch TRE® konnte ich tatsächlich körperliche unangenehme Spannungen wahrnehmen, in angenehme umwandeln und als solche spüren. Voraussetzung dafür war die richtige vertrauensvolle Atmosphäre, die es mir ermöglichte, mich diesen neuen körperlichen, aber auch geistigen Erfahrungen hinzugeben. Genau die hat Tamara vom ersten Moment an mit ihrer einfühlsamen Begleitung online ermöglicht. Mit ihrer achtsamen Art schafft sie die richtige vertrauensvolle Atmosphäre, die es mir erlaubte, mich diesen neuen körperlichen, aber auch geistigen Erfahrungen hinzugeben und ich bin sehr dankbar dafür. 
                </p>
            </div>
            <div>
                <div class="testimonial-box"><i class="fas fa-quote-right text-dark margin-bottom-30"></i></div>

                <p class="margin-bottom-20">
                    Ich habe mich damals für TRE® entschieden, weil es mir primär psychisch nicht so gut gegangen ist und gleichzeitig litt ich unter immer wiederkehrenden Rückenschmerzen. 
                    Ich muss sagen, dass mir TRE® schon nach der ersten Session so gut geholfen hat. Ich habe es mittlerweile in meinen Alltag eingebaut und versuche es so oft wie möglich zu machen. Als ich damit angefangen habe, habe ich gemerkt, wieviel ich psychisch noch zu verarbeiten habe. Da sind hin und da auch einige Tränen geflossen, aber nach jeder Session war so eine Erleichterung zu spüren und das tat mir und meiner Seele soooo gut. Auch meine Rückenschmerzen wurden durch die Shakes immer besser. Ich mache es mittlerweile ca. 4x die Woche und meistens abends vor dem Schlafen. Sogar mein Schlaf hat sich durch TRE so viel verbessert.  
                </p>
                <p>
                    Ich finde TRE® im Allgemeinen echt ein tolles Tool, welches jeder zu Hause selber machen kann. Du erklärst das echt toll und auch die "Aufwärmübungen" vor jeder Session, helfen gut finde ich. 1000 Dank, dass ich das von dir lernen durfte! ❤️
                </p>
            </div>
            <div>
                <div class="testimonial-box"><i class="fas fa-quote-right text-dark margin-bottom-30"></i></div>

                <p class="margin-bottom-20">
                    Tamara hat mein Interesse für TRE® auf Grund meiner Regenerationsfähigkeit geweckt. Mit einem wöchentlichen Sportpensum von 10-15h braucht mein Körper auch Unterstützung, um die Belastung besser zu verarbeiten. 
                </p>
                <p>
                    Mit dem Einfühlungsvermögen und dem Eingehen auf die individuellen Bedürfnisse hat Tamara mich schnellstens zum Zittern gebracht. Mittlerweile nutze ich diese einfache Technik 1-2 pro Woche zuhause nach dem Dehnen, um meinen Körper bei der Regeneration zu unterstützen, mich zu erden, aber auch wenn ich auf Grund der Endometriose Beschwerden habe.
                </p>
                <p>
                    Nach den TRE®-Sessions merke ich oft, dass mein Körper arbeitet und für mich war es nach den Einheiten viel klarer, was mein Körper in dem Moment braucht. Abends hilft es mir zu Entspannen - morgens gibt es mir Energie für den Tag. Meine Regeneration in den Beinen ist mit TRE® besser, mein Schlaf erholsamer und auch die eine oder andere Blockade (egal ob körperlich oder mental) habe ich dadurch lösen können."
                </p>
            </div>
            <div>
                <div class="testimonial-box"><i class="fas fa-quote-right text-dark margin-bottom-30"></i></div>

                <p class="margin-bottom-20">
                    Mein Interesse an dem Kurs war reine Neugierde und als ich gelesen hab das man Schlafprobleme u. muskuläre Verspannungen damit positiv beeinflussen kann war ich schon dabei. Am Anfang lief es unerwartet ganz gut, Mitte vom Kurs war ein kleiner Einbruch, aber am Ende war ich wieder gut dabei.                </p>
                <p>
                    Es gibt Wochen da mach ich die Übungen ein- zweimal 10 bis 15 Minuten, dann wieder öfter ganz nach Bedarf. Jetzt kann ich es auch schon gut im Bett, wenn ich mal wieder nicht schlafen kann. Nach einer halben Stunde kann ich dann schlafen.  Mit den Muskelverspannungen bin ich noch nicht so weit, wird aber schon.                </p>
                <p>
                    Ich glaub es ist mir noch gar nicht bewusst was das TRE® mit mir macht, irgendwann komm ich schon drauf, freu mich schon drauf! Ich möchte mich nochmals bedanken, dass ich TRE® bei dir lernen konnte, es ist am Anfang unbegreiflich aber es passiert was im Körper…                </p>
            </div>
            <div>
                <div class="testimonial-box"><i class="fas fa-quote-right text-dark margin-bottom-30"></i></div>

                <p class="margin-bottom-20">
                    TRE® bedeutet für mich 
                    <ul>
                        <li>primäre Entspannung und dadurch neue Energie gewinnen</li>
                        <li>Geist, Seele und Körper in Einklang bringen</li>
                        <li>ein gesteigertes Körperbewusstsein und die Sinne wahrnehmen  </li>
                        <li>befreit sein, Kopf ausschalten, den Körper arbeiten lassen </li>
                        <li>als Teil eines Rettungsprogrammes sehen in schwierigen Situationen</li>
                        <li>einfach eine tolle, neue Erfahrung</li>
                    </ul>
                </p>
                <p>
                    und TAMARA: eine authentische, emphatische Frau, die mir mit ihrem Wesen geholfen hat Vertrauen, Kraft, Stärke und neue Lebensfreude wieder in mein Leben zu lassen
                </p>
            </div>
        </div><!-- end owl-carousel -->
    </div>
</div>

{{ .Inner }}