<h3>About me</h3>
<ul>
    <li>Fitness & Personal Trainerin</li>
    <li>Instruktorin für Pilates, Mobilisation, Zumba®, u.v.m. </li>
    <li>TRE® Providerin</li>
    <li>Expertin für Entspannungsübungen</li>
    <li>Zielgruppe: Frauen</li>
    <li>Betreuung in 4 Sprachen möglich</li>
    <li>über 20 Jahre Erfahrung als Coachin im Sport</li>
    <li>empathische, ehrliche, verständnisvolle Betreuung mit Weitblick und Wissen</li>
</ul>

<div class="text-center margin-top-70">
    <a class="button button-lg button-reveal-right-dark button-rounded" href="{{ .Site.BaseURL }}/aboutme"><i class="ti-arrow-right"></i><span>
        Nähere Infos zu mir findest du hier</span>
    </a>
</div>

