<h3>About me</h3>
<ul>
  <li>Zert. Fitness & Personal Trainerin</li>
  <li>Zert. Instruktorin für Pilates, Mobilisation, Zumba®, u.v.m.</li>
  <li>ERPSE Expertin für Sport- und Präventionsernährung</li>
  <li>TRE® Providerin</li>
  <li>Expertin für Entspannungsübungen</li>
  <li>Zielgruppe: Frauen</li>
  <li>Betreuung in 4 Sprachen möglich</li>
  <li>über 20 Jahre Erfahrung</li>
  <li>empathische, ehrliche, verständnisvolle Betreuung</li>
</ul>

<div class="text-center margin-top-70">
  <a
    class="button button-lg button-reveal-right-dark button-rounded"
    href="{{ .Site.BaseURL }}/aboutme"
    ><i class="ti-arrow-right"></i
    ><span> Nähere Infos zu mir findest du hier</span>
  </a>
</div>
