{{ define "main" }}

<div class="section-2xl bg-default-gradient">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 col-lg-8">
                <h1 class="font-weight-light margin-0">You only have one body. Take good care of it – MOVE IT!</h1>
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</div>

<div class="section">
    <div class="container">
        <div class="margin-bottom-70">
            <div class="row">
                <div class="col-12 col-md-10 col-lg-8 col-xl-7">
                    <h2 class="margin-0" style="text-transform: uppercase">{{ .Site.Data.fitness.company.title.Title }}</h2>
                    <p>{{ .Site.Data.fitness.company.title.Text }}</p>
                </div>
            </div><!-- end row -->
        </div>
        <div class="row col-spacing-20">
            <div class="col-12 col-lg-4">
                <div class="hoverbox-6">
                    <img src="{{ .Site.BaseURL }}{{ .Site.Data.fitness.company.types.Image1 }}" alt="{{ .Site.Data.fitness.company.types.Title1 }}">
                    <div class="content">
                        <h5>{{ .Site.Data.fitness.company.types.Title1 }}</h5>
                        <p>{{ .Site.Data.fitness.company.types.Text1 }}</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="hoverbox-6">
                    <img src="{{ .Site.BaseURL }}{{ .Site.Data.fitness.company.types.Image2 }}" alt="{{ .Site.Data.fitness.company.types.Title2 }}">
                    <div class="content">
                        <h5>{{ .Site.Data.fitness.company.types.Title2 }}</h5>
                        <p>{{ .Site.Data.fitness.company.types.Text2 }}</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="hoverbox-6">
                    <img src="{{ .Site.BaseURL }}{{ .Site.Data.fitness.company.types.Image3 }}" alt="{{ .Site.Data.fitness.company.types.Title3 }}">
                    <div class="content">
                        <h5>{{ .Site.Data.fitness.company.types.Title3 }}</h5>
                        <p>{{ .Site.Data.fitness.company.types.Text3 }}</p>
                    </div>
                </div>
            </div>
        </div><!-- end row -->       
    </div>

    <div class="padding-top-0 margin-top-70">
        <div class="container">
            <div class="row col-spacing-60 align-items-center">
                <div class="col-12">
                    <ul class="accordion single-open rounded">
                        {{ range $index, $element := $.Site.Data.fitness.company.questions }}
                        {{ if (eq $index 0) }}
                        <li class="active">
                            <div class="accordion-title">
                                <h6 class="font-weight-normal">{{ $element.Question }}</h6>
                            </div>
                            <div class="accordion-content">
                                <p>{{ $element.Answer }}</p>
                            </div>
                        </li>
                        {{ else }}
                        <li>
                            <div class="accordion-title">
                                <h6 class="font-weight-normal">{{ $element.Question }}</h6>
                            </div>
                            <div class="accordion-content">
                                <p>{{ $element.Answer }}</p>
                            </div>
                        </li>
                        {{ end }}
                        {{ end }}
                    </ul>
                </div>
            </div><!-- end row -->
        </div><!-- end container -->
    </div>
</div>

<div class="section-xl bg-primary-custom">
    <div class="container text-center">
        <div class="row">
            <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                <h3 class="margin-bottom-20">Any Questions?</h3>
                <p class="font-large">Du hast Fragen zu den oben angeführten Dienstleistungen? Dann schreib mir, ruf mich an – lass uns treffen, reden und/oder zoomen.</p>
                <a class="button button-lg button-radius button-outline-white margin-top-30" href="#">Get In Touch</a>
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</div>

<div class="section" id="companies">
    <div class="container">
        <div class="margin-bottom-70">
            <div class="row">
                <div class="col-12 col-md-10 col-lg-8 col-xl-7">
                    <h2 class="margin-0" style="text-transform: uppercase">Firmenfitness</h2>
                    <p>Entschleunigung als Tool für ausgeglichene und gesündere MitarbeiterInnen! Für Details und Angebote - contact me.</p>
                </div>
            </div><!-- end row -->
        </div>
        <div class="row col-spacing-20 icon-5xl">
            <div class="col-12 col-lg-4">
                <div class="border-all padding-30 padding-x-lg-40 padding-y-lg-50">
                    <h5 class="font-weight-normal margin-top-20">Rückenfit</h5>
                    <p>In dieser Einheit kümmern wir uns besonders um die Wirbelsäule.
                        Gezielte Übungen fördern die langfristige Beweglichkeit und stärken die Rumpfmuskulatur.</p>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="border-all padding-30 padding-x-lg-40 padding-y-lg-50">
                    <h5 class="font-weight-normal margin-top-20">Mobility Flow & Stretching:</h5>
                    <p>Der Körper wird in 55 Minuten mobilisiert und gedehnt.
                        Die TeilnehmerInnen verlassen diese Session entspannt und ausgeglichen.</p>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="border-all padding-30 padding-x-lg-40 padding-y-lg-50">
                    <h5 class="font-weight-normal margin-top-20">Pilates Basic</h5>
                    <p>Pilates ist ein Ganzkörperkräftigungstraining: primär von Beckenboden-,
                        Bauch und Rückenmuskulatur. Ein ideales Allround-Training.</p>
                </div>
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</div>

<div id="home-training" class="section-xl bg-image parallax" data-bg-src="{{ .Site.BaseURL }}/images/home_training_1.jpg" style="background-image: url(&quot;{{ .Site.BaseURL }}/images/home_training_1.jpg&quot;); background-size: cover; background-repeat: no-repeat; background-attachment: fixed; background-position: center 193.94px;">
    <div class="bg-black-07">
        <div class="container text-center">
            <div class="row">
                <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                    <h3 class="margin-bottom-20">Home Training</h3>
                    <p class="font-large">Auf Grund der aktuellen Covid-19 Situation und den daraus folgenden Einschränkungen biete ich auch angepasste Workouts an.</p>
                    <a class="button button-lg button-radius button-outline-white margin-top-30" href="#">Learn more</a>
                </div>
            </div><!-- end row -->
        </div><!-- end container -->
    </div>
</div>

<div class="section border-bottom" id="about-me">
    <div class="container">
        <!-- <div class="section-title text-center">
            <h2>We Develop Digital Products</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Integer tincidunt.</p>
        </div> -->
        <div class="row align-items-center col-spacing-50">
            <div class="col-12 col-lg-4">
                <img src="{{ .Site.BaseURL }}/images/col-3-square.jpg" alt=""><!-- Image source -->
            </div>
            <div class="col-12 col-lg-8 p-padding">
                <h3>About me</h3>
                <p>
                    Mein Name ist Tamara und wohne seit über 6 Jahren in Wien. Ich komme aus einer sportlichen Familie (OÖ),
                    wobei meine sportlichen Wurzeln im Skirennlauf liegen. Tanzen hat mich auch schon immer begeistert und
                    Training im Fitnessstudio war/ist mir einfach lustig.
                </p>
                <p>
                    Meine Erfahrungen als Coach im Sport ziehen sich bereits über 15 Jahre. Ich bin ausgebildete Fitness- und
                    Personal Trainerin. Außerdem bin ich Skilehrerin und habe mir unterschiedliche Lizenzen im Gruppenfitnessbereich
                    angeeignet. Zusätzlich verfüge ich über profunde Kenntnisse zu einer gesunden Lebensführung (u.a. Ernährungsberatung).
                    Ich bin sehr stolz auf meine Sprachkenntnisse und stehe dir auf Deutsch, Englisch, Spanisch oder Portugiesisch zur Verfügung. 
                </p>
                <p>
                    Ich möchte vermitteln, dass Sport mehr als Abnehmen, Muckis oder Wettkampf sein kann! Der langfristige
                    Gesundheitsgedanke ist mir wichtig, während ich mich dabei auf BewegungsanfängerInnen und
                    Fortgeschrittene konzentriere. Ich möchte, dass die Personen, die mit mir trainieren, einen
                    verbesserten Zugang zu ihrem Körper finden – Body-Mind-Balance! #feelgood
                </p>
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</div>
{{ end }}