{{ define "main" }}
    <div class="section border-bottom container text-center" id="services">
        <div class="row icon-5xl">
            <div class="col-12 col-lg-4">
                <div class="bg-white border-radius border-all padding-40">
                    <i class="ti-comment-alt text-dark margin-top-10"></i>
                    <h5 class="font-weight-normal margin-top-20">Consulting</h5>
                    <p class="margin-bottom-10">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="bg-white border-radius border-all padding-40">
                    <i class="ti-star text-dark margin-top-10"></i>
                    <h5 class="font-weight-normal margin-top-20">Social Marketing</h5>
                    <p class="margin-bottom-10">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="bg-white border-radius border-all padding-40">
                    <i class="ti-camera text-dark margin-top-10"></i>
                    <h5 class="font-weight-normal margin-top-20">Photography</h5>
                    <p class="margin-bottom-10">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
                </div>
            </div>
        </div><!-- end row -->
    </div>

    <div class="section border-bottom" id="about-me">
        <div class="container">
            <!-- <div class="section-title text-center">
                <h2>We Develop Digital Products</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Integer tincidunt.</p>
            </div> -->
            <div class="row align-items-center col-spacing-50">
                <div class="col-12 col-lg-4">
                    <img src="{{ .Site.BaseURL }}/images/col-3-square.jpg" alt=""><!-- Image source -->
                </div>
                <div class="col-12 col-lg-8 p-padding">
                    <h3>Hallo, mein Name ist Tamara,</h3>
                    <p>
                        ich bin gebürtige Oberösterreicherin und wohne seit über 6 Jahren in Wien. Ich komme aus einer sportlichen Familie,
                        wodurch bei mir von klein auf Bewegung am Tagesprogramm stand. Meine sportlichen Wurzeln liegen im Skisport (Skirennlauf), Tanzen hat
                        mich schon immer begeistert und auch das Training im Fitnessstudio war und ist mir einfach lustig.
                    </p>
                    <p>
                        Meine Erfahrungen als Coach im Sport ziehen sich bereits über 15 Jahre. Ich bin ausgebildete Fitness- und Personal Trainerin, sowie Skilehrerin
                        und habe mir unterschiedliche Lizenzen im Gruppenfitnessbereich angeeignet. Zusätzlich verfüge ich über profunde Kenntnisse zu einer gesunden
                        Lebensführung (u.a. Ernährungsberatung). Weiters bin ich sehr stolz auf meine Sprachkenntnisse – ich stehe dir auf Deutsch, Englisch,
                        Spanisch oder Portugiesisch zur Verfügung. 
                    </p>
                    <p>
                        Ich möchte vermitteln, dass Sport mehr als Abnehmen, Muckis oder Wettkampf sein kann! Der langfristige Gesundheitsgedanke ist mir wichtig – für
                        BewegungsanfängerInnen und Fortgeschrittene. Ehrgeiziges Wettkampftraining überlasse ich gerne anderen KollegInnen. Ich möchte, dass
                        die Personen, die mit mir trainieren, wieder einen guten Zugang zu ihrem Körper finden. Mit mir soll Bewegung Spaß machen, sich als
                        Bereicherung in ihrem Leben anfühlen! Es hört sich etwas abgenutzt an, aber ist eine klare Wahrheit: Unsere Gesundheit ist unser
                        wichtigstes Gut. Gezielte Bewegung kann körperliche Defizite verbessern und für mehr Lebensfreude (körperlich & mental) sorgen – Body Mind Balance!
                    </p>
                    <p>
                        Gerne unterstütze ich dich auf diesem Weg – kontaktiere mich jetzt!
                    </p>
                </div>
            </div><!-- end row -->
        </div><!-- end container -->
    </div>

    <div class="section border-bottom" id="blog">
        <div class="container">
            <div class="section-title">
                <div class="row align-items-end">
                    <div class="col-12 col-sm-6">
                        <h2 class="margin-0">Latest Posts</h2>
                    </div>
                    <div class="col-12 col-sm-6 text-sm-right">
                        <a class="text-button" href="#">Read All Posts</a>
                    </div>
                </div>
            </div>
            <div class="masonry masonry-column-3 masonry-spacing-40" style="position: relative; height: 937.656px;">
                <!-- Masonry Item 1 -->
                <div class="masonry-item" style="position: absolute; left: 0px; top: 0px;">
                    <div class="hoverbox-9 margin-bottom-20">
                        <a href="#">
                            <img src="{{ .Site.BaseURL }}/images/col-2-square.jpg" alt="">
                            <div class="content bg-black-04">
                                <span class="font-family-tertiary font-small font-weight-normal uppercase text-white">Feb 6</span>
                            </div>
                        </a>
                    </div>
                    <h5 class="font-weight-normal"><a href="#">Blog Post with Image</a></h5>
                    <p>Aenean commodo ligula eget dolor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus...</p>
                </div>
                <!-- Masonry Item 2 -->
                <div class="masonry-item" style="position: absolute; left: 373px; top: 0px;">
                    <div class="hoverbox-9 margin-bottom-20">
                        <a href="#">
                            <img src="{{ .Site.BaseURL }}/images/col-2-square.jpg" alt="">
                            <div class="content bg-black-04">
                                <span class="font-family-tertiary font-small font-weight-normal uppercase text-white">Feb 6</span>
                            </div>
                        </a>
                    </div>
                    <h5 class="font-weight-normal"><a href="#">Blog Post with Image</a></h5>
                    <p>Aenean commodo ligula eget dolor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus...</p>
                </div>
                <!-- Masonry Item 3 -->
                <div class="masonry-item" style="position: absolute; left: 746px; top: 0px;">
                    <div class="hoverbox-9 margin-bottom-20">
                        <a href="#">
                            <img src="{{ .Site.BaseURL }}/images/col-2-square.jpg" alt="">
                            <div class="content bg-black-04">
                                <span class="font-family-tertiary font-small font-weight-normal uppercase text-white">Feb 6</span>
                            </div>
                        </a>
                    </div>
                    <h5 class="font-weight-normal"><a href="#">Blog Post with Image</a></h5>
                    <p>Aenean commodo ligula eget dolor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus...</p>
                </div>
                <!-- Masonry Item 4 -->
                <div class="masonry-item" style="position: absolute; left: 373px; top: 413px;">
                    <div class="hoverbox-9 margin-bottom-20">
                        <a href="#">
                            <img src="{{ .Site.BaseURL }}/images/col-2-square.jpg" alt="">
                            <div class="content bg-black-04">
                                <span class="font-family-tertiary font-small font-weight-normal uppercase text-white">Feb 6</span>
                            </div>
                        </a>
                    </div>
                    <h5 class="font-weight-normal"><a href="#">Blog Post with Image</a></h5>
                    <p>Aenean commodo ligula eget dolor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus...</p>
                </div>
                <!-- Masonry Item 5 -->
                <div class="masonry-item" style="position: absolute; left: 0px; top: 524px;">
                    <div class="hoverbox-9 margin-bottom-20">
                        <a href="#">
                            <img src="{{ .Site.BaseURL }}/images/col-2-square.jpg" alt="">
                            <div class="content bg-black-04">
                                <span class="font-family-tertiary font-small font-weight-normal uppercase text-white">Feb 6</span>
                            </div>
                        </a>
                    </div>
                    <h5 class="font-weight-normal"><a href="#">Blog Post with Image</a></h5>
                    <p>Aenean commodo ligula eget dolor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus...</p>
                </div>
                <!-- Masonry Item 6 -->
                <div class="masonry-item" style="position: absolute; left: 746px; top: 524px;">
                    <div class="hoverbox-9 margin-bottom-20">
                        <a href="#">
                            <img src="{{ .Site.BaseURL }}/images/col-2-square.jpg" alt="">
                            <div class="content bg-black-04">
                                <span class="font-family-tertiary font-small font-weight-normal uppercase text-white">Feb 6</span>
                            </div>
                        </a>
                    </div>
                    <h5 class="font-weight-normal"><a href="#">Blog Post with Image</a></h5>
                    <p>Aenean commodo ligula eget dolor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus...</p>
                </div>
            </div><!-- end masonry -->
            <!-- Pagination -->
            <nav>
                <ul class="pagination justify-content-center margin-top-70">
                    <li class="page-item"><a class="page-link" href="#">«</a></li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">»</a></li>
                </ul>
            </nav>
        </div><!-- end container -->
    </div>

    <div class="section" id="contact">
        <div class="container">
            <div class="row icon-4xl">
                <!-- Icon text box 1 -->
                <div class="col-12 col-sm-6 col-md-3">
                    <i class="ti ti-email text-dark margin-bottom-20"></i>
                    <h6 class="font-weight-normal margin-0">E-Mail:</h6>
                    <p>info@tamara-feelgood.at</p>
                </div>
                <!-- Icon text box 2 -->
                <div class="col-12 col-sm-6 col-md-3">
                    <i class="ti ti-mobile text-dark margin-bottom-20"></i>
                    <h6 class="font-weight-normal margin-0">Telefon:</h6>
                    <p>+(43) 650 28 25 968</p>
                </div>
                <!-- Icon text box 3 -->
                <div class="col-12 col-sm-6 col-md-3">
                    <i class="ti ti-instagram text-dark margin-bottom-20"></i>
                    <h6 class="font-weight-normal margin-0">Instagram:</h6>
                    <p>feelgood_tamara</p>
                </div>
                <!-- Icon text box 4 -->
                <div class="col-12 col-sm-6 col-md-3">
                    <i class="ti ti-location-pin text-dark margin-bottom-20"></i>
                    <h6 class="font-weight-normal margin-0">Adresse:</h6>
                    <p>121 King St, Melbourne VIC 3000</p>
                </div>
            </div><!-- end row -->
        </div><!-- end container -->
    </div>

    <div class="section padding-top-0">
        <div class="container">
            <div class="contact-form">
                <form method="post" id="contactform">
                    <div class="form-row">
                        <div class="col-12 col-sm-6">
                            <input type="text" id="name" name="name" placeholder="Name" required="">
                        </div>
                        <div class="col-12 col-sm-6">
                            <input type="email" id="email" name="email" placeholder="E-Mail" required="">
                        </div>
                    </div>
                    <input type="text" id="subject" name="subject" placeholder="Subject" required="">
                    <textarea name="message" id="message" placeholder="Message"></textarea>
                    <button class="button button-lg button-border-1px button-outline-dark-2" type="submit">Send Message</button>
                </form>
                <!-- Submit result -->
                <div class="submit-result">
                    <span id="success">Thank you! Your Message has been sent.</span>
                    <span id="error">Something went wrong, Please try again!</span>
                </div>
            </div><!-- end contact-form -->
        </div><!-- end container -->
    </div>
{{ end }}