{{ define "main" }}

<div class="section-2xl bg-default-gradient">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 col-lg-8">
                <h1 class="font-weight-light margin-0">You only have one body. Take good care of it – MOVE IT!</h1>
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</div>

<div class="container">
    <div class="move-top-100">
        <div class="row col-spacing-20">
            <div class="col-12 col-lg-4">
                <div class="hoverbox-6">
                    <img src="{{ .Site.BaseURL }}/images/personal_training_1.jpg" alt="Personal Training">
                    <div class="content">
                        <h5>Personal Training</h5>
                        <p>Du bist einzigartig! In einem Personal Training kann ich ganz individuell auf dich und deine Bedürfnisse eingehen..</p>
                    </div>
                    <!-- <div class="hover-content">
                        <a class="button button-md button-radius button-white" href="#">Learn More</a>
                    </div> -->
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="hoverbox-6">
                    <img src="{{ .Site.BaseURL }}/images/small_group_training_1.jpg" alt="Kleingruppentraining">
                    <div class="content">
                        <h5>Kleingruppentraining</h5>
                        <p>Dein „Safe Space“ in einer kleinen Gruppe, in dem gezielte Bewegung im Vordergrund steht.</p>
                    </div>
                    <div class="hover-content">
                        <a class="button button-md button-radius button-white" href="#">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="hoverbox-6">
                    <img src="{{ .Site.BaseURL }}/images/coaching_1.jpg" alt="Beratung">
                    <div class="content">
                        <h5>Beratung</h5>
                        <p>Ob persönlich, per Telefon, E-Mail oder über Zoom: Gerne stehe ich dir für Anfragen und Beratungen zur Verfügung.</p>
                    </div>
                    <div class="hover-content">
                        <a class="button button-md button-radius button-white" href="#">Learn More</a>
                    </div>
                </div>
            </div>
        </div><!-- end row -->
    </div>
</div>

<div class="section padding-top-0 margin-top-70">
    <div class="container">
        <div class="row col-spacing-60 align-items-center">
            <div class="col-12">
                <ul class="accordion single-open rounded">
                    <li class="active">
                        <div class="accordion-title">
                            <h6 class="font-weight-normal">Warum ein Personal Training?</h6>
                        </div>
                        <div class="accordion-content" style="max-height: 113px;">
                            <p>Jeder Mensch ist anders und hat unterschiedliche Bedürfnisse. In einem Personal Training kann ich ganz individuell
                                auf dich eingehen und Bewegungsabläufe korrigieren. In einem Erstgespräch eruieren wir deine Ziele, danach
                                starten wir das Training (für Gym, Zuhause oder Outdoor).</p>
                        </div>
                    </li>
                    <li>
                        <div class="accordion-title">
                            <h6 class="font-weight-normal">Kann ich auch einfach nur einen persönlichen Trainingsplan haben?</h6>
                        </div>
                        <div class="accordion-content">
                            <p>Diese Möglichkeit gibt es auch. Dazu braucht es ein Erstgespräch und eine gemeinsame Personal Session, in der ich dir die Übungsabläufe genau erkläre.
                                Du solltest nach ca. 3-4 Monaten auf einen neuen Plan umsteigen, um deinem Körper neue Reize zu bieten.</p>
                        </div>
                    </li>
                    <li>
                        <div class="accordion-title">
                            <h6 class="font-weight-normal">Was ist der Vorteil von einem Kleingruppentraining?</h6>
                        </div>
                        <div class="accordion-content">
                            <p>Mein KGT ist für Frauen gedacht, die sich in einem traditionellen Gym vielleicht nicht so wohl fühlen, aber nicht ganz alleine trainieren wollen.
                                Mein Trainingspaket hilft dir, und max. 5 anderen Frauen, dein Fitness-Level zu steigern (Level: Basic & Medium).</p>
                        </div>
                    </li>
                    <li>
                        <div class="accordion-title">
                            <h6 class="font-weight-normal">Kann bei dir immer jeder mitmachen?</h6>
                        </div>
                        <div class="accordion-content">
                            <p>Grundsätzlich ja, je nach Einheit. Ich „teile“ in: Basic = Du bist BewegungsanfängerIn oder beginnst nach einer Pause wieder mit Sport.
                                Medium = Du betreibst regelmäßig Sport, alles auf einem relativ ruhigen Freizeit-Level. Advanced = Du betreibst regelmäßig Sport, Push-ups und Planks sind Teil deines Workouts.</p>
                        </div>
                    </li>
                    <li>
                        <div class="accordion-title">
                            <h6 class="font-weight-normal">Bekomme ich von dir einen Ernährungsplan?</h6>
                        </div>
                        <div class="accordion-content">
                            <p>Gerne gebe ich dir klare Tipps zu einer ausgewogenen Ernährung (wenn du das möchtest), jedoch erhältst du von mir keinen Ernährungsplan!
                                Nebenbei gesagt, ich ich kein Fan von Diäten oder anderen extremen Ernährungsformen.</p>
                        </div>
                    </li>
                    <li>
                        <div class="accordion-title">
                            <h6 class="font-weight-normal">Auf deinen Social Media Kanälen schreibst du viel zu Body Positivity – wie passen Fitness und BP zusammen?</h6>
                        </div>
                        <div class="accordion-content">
                            <p>Bei BP geht es darum seinen Körper zu lieben bzw. zu akzeptieren. Durch Sport kann ein großartiges Body-Mind-Gleichgewicht entstehen,
                                da wir ihn mit jeder Bewegung noch besser kennenlernen. Bei Fitness muss es nicht zwangsläufig darum gehen, ein Sixpack zu haben oder abzunehmen.
                                Das möchte ich meinen TeilnehmerInnen vermitteln! </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</div>

<div class="section-xl bg-primary-custom">
    <div class="container text-center">
        <div class="row">
            <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                <h3 class="margin-bottom-20">Any Questions?</h3>
                <p class="font-large">Du hast Fragen zu den oben angeführten Dienstleistungen? Dann schreib mir, ruf mich an – lass uns treffen, reden und/oder zoomen.</p>
                <a class="button button-lg button-radius button-outline-white margin-top-30" href="#">Get In Touch</a>
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</div>

<div class="section" id="companies">
    <div class="container">
        <div class="margin-bottom-70">
            <div class="row">
                <div class="col-12 col-md-10 col-lg-8 col-xl-7">
                    <h2 class="margin-0" style="text-transform: uppercase">Firmenfitness</h2>
                    <p>Entschleunigung als Tool für ausgeglichene und gesündere MitarbeiterInnen! Für Details und Angebote - contact me.</p>
                </div>
            </div><!-- end row -->
        </div>
        <div class="row col-spacing-20 icon-5xl">
            <div class="col-12 col-lg-4">
                <div class="border-all padding-30 padding-x-lg-40 padding-y-lg-50">
                    <h5 class="font-weight-normal margin-top-20">Rückenfit</h5>
                    <p>In dieser Einheit kümmern wir uns besonders um die Wirbelsäule.
                        Gezielte Übungen fördern die langfristige Beweglichkeit und stärken die Rumpfmuskulatur.</p>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="border-all padding-30 padding-x-lg-40 padding-y-lg-50">
                    <h5 class="font-weight-normal margin-top-20">Mobility Flow & Stretching:</h5>
                    <p>Der Körper wird in 55 Minuten mobilisiert und gedehnt.
                        Die TeilnehmerInnen verlassen diese Session entspannt und ausgeglichen.</p>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="border-all padding-30 padding-x-lg-40 padding-y-lg-50">
                    <h5 class="font-weight-normal margin-top-20">Pilates Basic</h5>
                    <p>Pilates ist ein Ganzkörperkräftigungstraining: primär von Beckenboden-,
                        Bauch und Rückenmuskulatur. Ein ideales Allround-Training.</p>
                </div>
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</div>

<div id="home-training" class="section-xl bg-image parallax" data-bg-src="{{ .Site.BaseURL }}/images/home_training_1.jpg" style="background-image: url(&quot;{{ .Site.BaseURL }}/images/home_training_1.jpg&quot;); background-size: cover; background-repeat: no-repeat; background-attachment: fixed; background-position: center 193.94px;">
    <div class="bg-black-07">
        <div class="container text-center">
            <div class="row">
                <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                    <h3 class="margin-bottom-20">Home Training</h3>
                    <p class="font-large">Auf Grund der aktuellen Covid-19 Situation und den daraus folgenden Einschränkungen biete ich auch angepasste Workouts an.</p>
                    <a class="button button-lg button-radius button-outline-white margin-top-30" href="#">Learn more</a>
                </div>
            </div><!-- end row -->
        </div><!-- end container -->
    </div>
</div>

<div class="section border-bottom" id="about-me">
    <div class="container">
        <!-- <div class="section-title text-center">
            <h2>We Develop Digital Products</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Integer tincidunt.</p>
        </div> -->
        <div class="row align-items-center col-spacing-50">
            <div class="col-12 col-lg-4">
                <img src="{{ .Site.BaseURL }}/images/col-3-square.jpg" alt=""><!-- Image source -->
            </div>
            <div class="col-12 col-lg-8 p-padding">
                <h3>About me</h3>
                <p>
                    Mein Name ist Tamara und wohne seit über 6 Jahren in Wien. Ich komme aus einer sportlichen Familie (OÖ),
                    wobei meine sportlichen Wurzeln im Skirennlauf liegen. Tanzen hat mich auch schon immer begeistert und
                    Training im Fitnessstudio war/ist mir einfach lustig.
                </p>
                <p>
                    Meine Erfahrungen als Coach im Sport ziehen sich bereits über 15 Jahre. Ich bin ausgebildete Fitness- und
                    Personal Trainerin. Außerdem bin ich Skilehrerin und habe mir unterschiedliche Lizenzen im Gruppenfitnessbereich
                    angeeignet. Zusätzlich verfüge ich über profunde Kenntnisse zu einer gesunden Lebensführung (u.a. Ernährungsberatung).
                    Ich bin sehr stolz auf meine Sprachkenntnisse und stehe dir auf Deutsch, Englisch, Spanisch oder Portugiesisch zur Verfügung. 
                </p>
                <p>
                    Ich möchte vermitteln, dass Sport mehr als Abnehmen, Muckis oder Wettkampf sein kann! Der langfristige
                    Gesundheitsgedanke ist mir wichtig, während ich mich dabei auf BewegungsanfängerInnen und
                    Fortgeschrittene konzentriere. Ich möchte, dass die Personen, die mit mir trainieren, einen
                    verbesserten Zugang zu ihrem Körper finden – Body-Mind-Balance! #feelgood
                </p>
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</div>
{{ end }}